[submodule "harbour-lib"]
	path = harbour-lib
	url = https://github.com/monich/harbour-lib.git
[submodule "libdbuslog"]
	path = logger/src/libdbuslog
	url = https://github.com/sailfishos/libdbuslog.git
[submodule "libconnman-qt"]
	path = libconnman-qt
	url = https://github.com/sailfishos/libconnman-qt.git
