[Desktop Entry]
Type=Application
Name=NFC Log
X-Nemo-Application-Type=silica-qt5
Icon=sailfish-log-viewer-nfc
Exec=sailfish-log-viewer-nfc

[X-HarbourBackup]
BackupConfigList=/apps/sailfish-log-viewer-nfc/

[X-Sailjail]
Sandboxing=Disabled
